%transition {
  transition: all 0.3s ease;
}

%font-primary {
  font-family: 'PT Sans', Arial, sans-serif;
}

%flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

%container {
  max-width: 1440px;
  margin: 0 auto;
  // padding: 0 80px;
}

%main-title {
  @include font($weight: 700, $size: 56px);
}
